.github-wrapper{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 0.5px solid #aaa;
  text-align: center;
  padding-bottom: 50px;
}
.user-name{
  padding: 12px;
  font-size: 16px;
  width: 200px;
}
.info-btn{
  outline: none;
  border: none;
  padding: 10px;
  font-size: 16px;
  margin: 20px 0px;
  width: 150px;
  color: #888;
}
.user-wrapper{
  width: 400px;   
  height: 350px;  
  border: 1px solid #999;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20pxX;
}
.user-wrapper img{
  width: 100px;
  margin-top: 20px;
}
.github-wrapper button{
  background-color: blue;
  color: white;
}
.github-wrapper button:disabled{
  background-color: #aaa;
  color: #111;
}